#gameScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),
    url("./images/space-background.jpg");
  height: 100vh;
  width: 100vw;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 0;
  width: 100%;
  height: auto;
}

#header h1 {
  font-size: 50px;
  letter-spacing: 2px;
  color: white;
}

#header a {
  height: auto;
  margin: auto 0;
}

#header i {
  height: auto;
  color: white;
}

#myCanvas {
  display: flex;
  justify-content: center;
  background: black;
  align-self: center;
  margin: 10px 0;
}

#startModal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

#startModal h2 {
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  margin: 30px;
}

#startButton {
  margin: 80px;
  border: none;
  font-size: 30px;
}

#gameOverModal {
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  /*position: absolute;*/
  margin: auto auto;
  z-index: 9;
}

#gameOverModal h2 {
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  margin: 40px;
}

#playAgain {
  margin: 100px;
  border: none;
  font-size: 30px;
}

#startModal h3 {
  top: 10px;
  font-size: 15px;
}
